{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
</style>

<div class="wrapper">
    <h1>{{ title }}</h1>
    <ul>
        {% for type in types %}
            <li><a href="/makes/{{ type.code }}">{{ type.description }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
