{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<style>
</style>

<div class="wrapper">
    <h1>{{ title }}</h1>

    <select id="makes" name="makes">
        <option value="">...</option>
        {% for make in makes %}
            <option value="{{ make.code }}">{{ make.description }}</option>
        {% endfor %}
    </select>

    <div id="models"></div>
</div>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
<script>
    var type = '{{ type }}';
    function onMakeChange(e) {
        var selectedMake = $('option:selected', this)[0].value;
        $('#models').load('/models/'+type+'/'+selectedMake);
    }
    $('#makes').on('change', onMakeChange);
</script>
{% endblock %}
